.app {
  margin: 0 auto;
  width: 70%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textField {
  width: 300px;
  margin-top: 20px;
}

.btn {
  padding: 5px;
  color: white;
  border-radius: 5px;
  border: none;
  transition: all 0.33s;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.btnSubmit {
  background-color: green;
}

.btnCancel {
  background-color: blue;
  margin-left: 10px;
}

.btnDelete {
  background-color: red;
}

.btnEdit {
  background-color: orange;
  margin-right: 10px;
}

.btnCancel {
  background-color: blue;
}

.btnUpdate {
  background-color: green;
}

.btnReset,
.btnSubmit {
  margin-top: 10px;
}

.ul {
  width: 50%;
  margin: 50px auto;
  list-style-type: none;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  border: 1px solid gray;
  padding: 10px;
}

.list input {
  width: 90px;
}

.list:hover {
  cursor: pointer;
}

#statusContainers {
  display: flex;
  justify-content: space-between;
}

.statusContainer {
  width: 25%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.emptyList {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}

.statusField {
  text-align: center;
  border-bottom: 1px solid black;
}
